<!--Datos personales-->
<section id="datospersonales" class="datospersonales" *ngFor="let datitos of datosper">
  <h2>Datos Personales</h2>
  <ol> Nombre y Apellido: {{datitos.nombreyapellido}} </ol>
  <ol> Domicilio: {{datitos.domicilio}} </ol>
  <ol> Barrio: {{datitos.barrio}} </ol>
  <ol> Disponibilidad: {{datitos.disponibilidad}} </ol>
  <ol> Estado Civil: {{datitos.estadocivil}} </ol>
  <ol> Lugar y fecha de nacimiento: {{datitos.fechanacimiento}} </ol>
  <ol> Contacto: {{datitos.contacto}} </ol>
  <ol> Alternativo: {{datitos.alternativo}} </ol>
  <ol> Email: {{datitos.email}} </ol>
</section>
