/*ABOUT*/
section.about{
    background-image: url(/assets/img/banner2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        text-align: center;
        position: absolute;
        width: 100%;
        padding-bottom: 1rem;
        margin: auto;
        }

.col-3 img{
    margin-top: 4rem;
    box-shadow: 6px 6px 5px 2px rgba(19,0,37,1);
}

/*RESPONSIVE*/
.contenedor{
    width: 100%;
    max-width: 93.75rem;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    }
    