i.fa-solid.fa-user-lock.fa-2xl{
    color: #fff;

}

i.fa-solid.fa-user-lock.fa-2xl:hover{
   color: forestgreen;
}

.list-group-item{
   color: gray;
   --bs-list-group-bg: transparent;
   border: none;
}